.container{
  width : 100%;
  padding: 20px;
  margin-bottom: 30px;
  background: white;
  border-radius: 16px;
}

.block-header{
  text-align: center;
  margin-bottom: 50px;
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
}

table.dataTable>tbody>tr.child span.dtr-title {
  display: block ruby !important;
  min-width: 50% !important;
  font-weight: bold !important; 
}

.block-header h2 {
  font-size: 20px;
  font-weight: bold;
}

table {
  width: 100%;
}

